<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
<script>
var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];;
var date = new Date();
document.getElementById('date').innerHTML = months[date.getMonth()] + ' ' + date.getFullYear();
</script>

{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->

{% endif %}
{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
